<ng-container *ngIf="country() as country; else noSelection">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="flag-avatar">
        <img [src]="country.flagSvg" alt="{{ country.name }} flag" />
      </div>
      <mat-card-title>{{ country.name }}</mat-card-title>
      <mat-card-subtitle>{{ country.region }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Capital:</strong> {{ country.capital }}</p>
      <p><strong>Population:</strong> {{ country.population | number }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #noSelection>
  <mat-card>
    <mat-card-content>
      <p>Select a country to see details.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
